<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Profile</title>

    <!-- ===== ===== Custom Css ===== ===== -->
    <link rel="stylesheet" href="/css/candidateProfilestyle.css">
    <!-- <link rel="stylesheet" href="responsive.css"> -->

    <!-- ===== ===== Remix Font Icons Cdn ===== ===== -->
    <!-- <link rel="stylesheet" href="fonts/remixicon.css"> -->
</head>

<body>
    <!-- ===== ===== Body Main-Background ===== ===== -->
    <span class="main_bg"></span>


    <!-- ===== ===== Main-Container ===== ===== -->
    <div class="container">

        <!-- ===== ===== Header/Navbar ===== ===== -->
        <header>
            <div class="brandLogo">
                <figure><img src="/images/Logo1.jpg" alt="logo" width="40px" height="40px"></figure>
                <span>DefenceTalent</span>
            </div>
        </header>


        <!-- ===== ===== User Main-Profile ===== ===== -->
        <section class="userProfile card">
            <div class="profile">
                <figure><img src="/images/no_profile_pic.png" alt="profile" width="250px" height="250px"></figure>
            </div>
        </section>


        <!-- ===== ===== Work & Skills Section ===== ===== -->
        <section class="work_skills card">

            <!-- ===== ===== Work Contaienr ===== ===== -->
            <div class="work">
                <h1 class="heading">WORK EXPERIENCE</h1>
                <div class="primary">
                    <h1>Lead &nbsp;Data &nbsp;Scientist &nbsp;at &nbsp;QuantumTech &nbsp;Solutions</h1>
                    <!-- <span>Primary</span> -->
                    <p>
                        January 2019 - Present
                    </p>
                </div>

                <div class="secondary">
                    <h1>Assistant &nbsp;Professor &nbsp; at <br>National &nbsp; Institute &nbsp; of &nbsp; Technology&nbsp; (NIT) , Delhi <br>
                       
                    </h1>
                    <!-- <span>Secondary</span> -->
                    <p>July 2016 - December 2018</p>
                </div>
            </div>

            <!-- ===== ===== Skills Contaienr ===== ===== -->

            <!-- <div class="skills">
                <h1 class="heading">Bio</h1>
                <p style="margin: 10px 0px; font-weight: 500;">Experienced data scientist and AI specialist with a strong background in machine learning, predictive analytics, and cybersecurity. Skilled in leading teams and delivering innovative AI-driven solutions across industries.</p>
            </div> -->


            <div class="skills">
                <h1 class="heading">Skills</h1>
                <ul>
                    <li style="--i:0">AIML</li>
                    <li style="--i:1">Python</li>
                    <li style="--i:2">C++</li>
                    <li style="--i:3">Data Analysis</li>
                </ul>
            </div>

            
        </section>


        <!-- ===== ===== User Details Sections ===== ===== -->
        <section class="userDetails card">
            <div class="userName">
                <h1 class="name">
                    Abhinay Kumar
                </h1>
                <div class="map">
                    <i class="ri-map-pin-fill ri"></i>
                    <span style="margin-left: 50px;">Edit details</span>
                </div>
                <p>Research and Innovation</p>
            </div>

            <!-- <div class="rank">
                <h1 class="heading">Rankings</h1>
                <span>8,6</span>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div> -->

            <div class="btns">
                <ul>
                    <li class="sendMsg" id="assessmentBtn">
                        <i class="ri-chat-4-fill ri"></i>
                        <a href="#">Assessment</a>
                    </li>

                    <li class="sendMsg active" id="informationBtn">
                        <i class="ri-check-fill ri"></i>
                        <a href="#">Personal details</a>
                    </li>

                    <li class="sendMsg" id="upcomingInterviewsBtn">
                        <a href="#">Upcoming interviews</a>
                    </li>

                    <li class="sendMsg" id="EducationBtn">
                        <a href="#">Education</a>
                    </li>

                    <li class="sendMsg" id="ResultBtn">
                        <a href="#">Result report</a>
                    </li>

                    
                </ul>
            </div>
        </section>


        <!-- ===== ===== Timeline & About Sections ===== ===== -->
        <section class="timeline_about card" id="aboutSection">
            <div class="tabs" id="aboutSection">
                <ul>


                    <li class="about active">
                        <i class="ri-user-3-fill ri"></i>
                        <span id="tab_text">About</span>
                    </li>
                </ul>
            </div>

            <div class="contact_Info" id="contact_info_in_about">
                <h1 class="heading">Contact Information</h1>
                <ul>
                    <li class="phone">
                        <h1 class="label">Phone:</h1>
                        <span class="info">+91 9876543210</span>
                    </li>

                    <li class="address">
                        <h1 class="label">Address:</h1>
                        <span class="info">
                            <%= dataToShowInProfileSection.location %> <br> Tamil Nadu, TN 10651-78 156-187-60
                        </span>
                    </li>

                    <li class="email" >
                        <h1 class="label">E-mail:</h1>
                        <span class="info" style="color: #0099cc;">
                            abhinaykumar@gmail.com
                        </span>
                    </li>

                    <li class="site">
                        <h1 class="label">Exam Scores:</h1>
                        <span class="info">GATE Score : 850 / 1000</span>
                    </li>
                </ul>
            </div>

            <div class="basic_info" id="basic_info_in_about">
                <h1 class="heading">Basic Information</h1>
                <ul>
                    <li class="birthday">
                        <h1 class="label">Birthday:</h1>
                        <span class="info">12th March 1992</span>
                    </li>

                    <li class="sex">
                        <h1 class="label">Gender:</h1>
                        <span class="info">Male</span>
                    </li>
                </ul>
            </div>


            <div id="upcoming_interview_container" class="uic">


                <div id="left-side-int">

                    <h1>Scientist - B</h1>

                    <div id="time">
                        <h2>Date</h2>
                        <p>23 January 2025</p>
                    </div>

                </div>
                <div id="middle_divs">
                    <i class="fa-solid fa-circle"></i>
                    <h2>Active</h2>
                </div>
                <div id="right-side-int">
                    <button>
                        View details
                    </button>
                </div>


            </div>
            <div id="upcoming_interview_container" class="uic">


                <div id="left-side-int">

                    <h1>Scientist - C</h1>

                    <div id="time">
                        <h2>Date</h2>
                        <p>15 March 2025</p>
                    </div>

                </div>
                <div id="middle_divs">
                    <i class="fa-solid fa-circle"></i>
                    <h2>Active</h2>
                </div>
                <div id="right-side-int">
                    <button>
                        View details
                    </button>
                </div>


            </div>

            <div id="upcoming_assessments" class="uac">
                <div id="left-side-as">

                    <h1>Assessment - 1</h1>


                    <div id="time-work">
                        <i class="fa-solid fa-clock">&nbsp;&nbsp;</i><b>9 : 15 AM</b>
                    </div>

                    

                    <div id="time">
                        <h2>Date</h2>
                        <p>11 January 2025 </p>
                    </div>

                </div>
                <div id="middle_divs_as">
                    <i class="fa-solid fa-circle"></i>
                    <h2>Active</h2>
                </div>
                <div id="right-side-as">
                    <button>
                        View details
                    </button>
                </div>

            </div>

            <div id="upcoming_assessments" class="uac">
                <div id="left-side-as">

                    <h1>Assessment - 2</h1>
                    
                    <div id="time-work">
                        <i class="fa-solid fa-clock">&nbsp;&nbsp;</i><b>9 : 15 AM</b>
                    </div>

                    <div id="time">
                        <h2>Date</h2>
                        <p>3 March 2025 <b>9 : 15 AM</b></p>
                    </div>

                </div>
                <div id="middle_divs_as">
                    <i class="fa-solid fa-circle"></i>
                    <h2>Active</h2>
                </div>
                <div id="right-side-as">
                    <button>
                        View details
                    </button>
                </div>

            </div>


            <div id="education_container" class="edu_area">
                <h2>Master of Technology (M.Tech) in Computer Science and Engineering <br>Indian Institute of Technology (IIT) , Bombay</br></h2>
                <p>2014 - 2016</p><br>
                <p><b>CGPA : 8.8 / 10</b></p>
            </div>

            <div id="education_container" class="edu_area">
                <h2>Bachelor of Technology (B.Tech) in Computer Science and Engineering <br>National Institute of Technology (NIT), Trichy</br></h2>
                <p>2010 - 2014</p><br>
                <p><b>CGPA : 8.0 / 10</b></p>
            </div>
        </section>






    </div>

    <script>
        const assessmentBtn = document.querySelector("#assessmentBtn");
        const informationBtn = document.querySelector("#informationBtn");
        const upcomingInterviewsBtn = document.querySelector("#upcomingInterviewsBtn");
        const upcomingInterviewContainer = document.getElementsByClassName("uic");
        const upcomingAssessmentContainer = document.getElementsByClassName("uac");
        const basic_info_in_about = document.querySelector("#basic_info_in_about");
        const contact_info_in_about = document.querySelector("#contact_info_in_about");
        const tab_text = document.querySelector("#tab_text");
        const educationBtn = document.querySelector("#EducationBtn")
        const edu_area = document.getElementsByClassName("edu_area");


        assessmentBtn.addEventListener("click", (e) => {
            tab_text.innerHTML = `Assessment`;
            assessmentBtn.classList.add("active");
            informationBtn.classList.remove("active");
            upcomingInterviewsBtn.classList.remove("active");
            educationBtn.classList.remove("active");

            basic_info_in_about.style.display = "none";
            contact_info_in_about.style.display = "none";

            for (let i = 0; i < upcomingInterviewContainer.length; i++) {
                upcomingInterviewContainer[i].style.display = "none";

            }

            for (let i = 0; i < upcomingAssessmentContainer.length; i++) {
                upcomingAssessmentContainer[i].style.display = "flex";

            }
            for (let i = 0; i < edu_area.length; i++) {
                edu_area[i].style.display = "none";

            }
        });

        informationBtn.addEventListener("click", (e) => {
            tab_text.innerHTML = `About`;
            assessmentBtn.classList.remove("active");
            informationBtn.classList.add("active");
            upcomingInterviewsBtn.classList.remove("active");
            educationBtn.classList.remove("active");

            basic_info_in_about.style.display = "unset";
            contact_info_in_about.style.display = "unset";

            for (let i = 0; i < upcomingAssessmentContainer.length; i++) {
                upcomingAssessmentContainer[i].style.display = "none";

            }

            for (let i = 0; i < upcomingInterviewContainer.length; i++) {
                upcomingInterviewContainer[i].style.display = "none";

            }

            for (let i = 0; i < edu_area.length; i++) {
                edu_area[i].style.display = "none";

            }

        });

        upcomingInterviewsBtn.addEventListener("click", (e) => {
            tab_text.innerHTML = `Upcoming interviews`;
            assessmentBtn.classList.remove("active");
            informationBtn.classList.remove("active");
            upcomingInterviewsBtn.classList.add("active");
            educationBtn.classList.remove("active");

            basic_info_in_about.style.display = "none";
            contact_info_in_about.style.display = "none";

            for (let i = 0; i < upcomingAssessmentContainer.length; i++) {
                upcomingAssessmentContainer[i].style.display = "none";

            }

            for (let i = 0; i < upcomingInterviewContainer.length; i++) {
                upcomingInterviewContainer[i].style.display = "flex";

            }

            for (let i = 0; i < edu_area.length; i++) {
                edu_area[i].style.display = "none";

            }

        });


        educationBtn.addEventListener("click" , (e) => {
            tab_text.innerHTML = `Education`;

            assessmentBtn.classList.remove("active");
            informationBtn.classList.remove("active");
            upcomingInterviewsBtn.classList.remove("active");
            educationBtn.classList.add("active");



            basic_info_in_about.style.display = "none";
            contact_info_in_about.style.display = "none";

            for (let i = 0; i < upcomingAssessmentContainer.length; i++) {
                upcomingAssessmentContainer[i].style.display = "none";

            }

            for (let i = 0; i < upcomingInterviewContainer.length; i++) {
                upcomingInterviewContainer[i].style.display = "none";

            }

            for (let i = 0; i < edu_area.length; i++) {
                edu_area[i].style.display = "block";

            }

        })
    </script>

</body>

</html>